<header>
  <h1 class="display-3 text-center my-4">Basic Typography</h1>
  <div class="container wobble">
    <div class="row">
      <div class="col-md-3">
        <div ngbDropdown class="dropdown">
          <button class="btn btn-primary btn-block dropdown-toggle" type="button" ngbDropdownToggle>
            2: Utilities
          </button>
          <div ngbDropdownMenu class="dropdown-menu">
            <a class="dropdown-item" href="2_2_basic_typography.html">2.2 Basic Typography</a>
            <a class="dropdown-item" href="2_3_text_alignment_display.html">2.3 Text Alignment & Display</a>
            <a class="dropdown-item" href="2_4_floats_position.html">2.4 Floats & Position</a>
            <a class="dropdown-item" href="2_5_colors_background.html">2.5: Colors & Background</a>
            <a class="dropdown-item" href="2_6_spacing.html">2.6 Spacing</a>
            <a class="dropdown-item" href="2_7_sizing.html">2.7 Sizing</a>
            <a class="dropdown-item" href="2_8_breakpoints.html">2.8 Breakpoints</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div ngbDropdown class="dropdown">
          <button class="btn btn-success btn-block dropdown-toggle" type="button" ngbDropdownToggle>
            3: CSS Components
          </button>
          <div ngbDropdownMenu class="dropdown-menu animated fadeInDown">
            <a class="dropdown-item" href="3_2_buttons.html">3.2 Buttons</a>
            <a class="dropdown-item" href="3_3_navbar.html">3.3 Navbar</a>
            <a class="dropdown-item" href="3_4_list_groups_badges.html">3.4 List Groups & Badges</a>
            <a class="dropdown-item" href="3_5_forms.html">3.5 Forms</a>
            <a class="dropdown-item" href="3_6_input_groups.html">3.6 Input Groups</a>
            <a class="dropdown-item" href="3_7_alerts_progress.html">3.7 Alerts & Progress</a>
            <a class="dropdown-item" href="3_8_tables_pagination.html">3.8 Tables & Pagination</a>
            <a class="dropdown-item" href="3_9_cards.html">3.9 Cards</a>
            <a class="dropdown-item" href="3_10_media_object.html">3.10 Media Objects</a>
            <a class="dropdown-item" href="3_11_jumbotron.html">3.11 Jumbotron</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div ngbDropdown class="dropdown">
          <button class="btn btn-warning btn-block dropdown-toggle" type="button" ngbDropdownToggle>
            4: Grid & Flexbox
          </button>
          <div ngbDropdownMenu class="dropdown-menu animated fadeInDown">
            <a class="dropdown-item" href="4_2_grid_system.html">4.2 Grid System</a>
            <a class="dropdown-item" href="4_3_grid_alignment.html">4.3 Grid Alignment</a>
            <a class="dropdown-item" href="4_4_flexbox.html">4.4 Flexbox</a>
            <a class="dropdown-item" href="4_5_auto_margins_wrapping_order.html">4.5 Auto Margins & Wrap</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div ngbDropdown class="dropdown">
          <button class="btn btn-danger btn-block dropdown-toggle" type="button" ngbDropdownToggle>
            5: JavaScript Widgets
          </button>
          <div ngbDropdownMenu class="dropdown-menu animated fadeInDown">
            <a class="dropdown-item" href="5_2_carousel.html">5.2 Carousel</a>
            <a class="dropdown-item" href="5_3_collapse.html">5.3 Collapse</a>
            <a class="dropdown-item" href="5_4_tooltips.html">5.4 Tooltips</a>
            <a class="dropdown-item" href="5_5_popovers.html">5.5 Popovers</a>
            <a class="dropdown-item" href="5_6_modals.html">5.6 Modals</a>
            <a class="dropdown-item" href="5_7_scrollspy.html">5.7 ScrollSpy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
</header>

  <nav class="navbar navbar-expand-lg navbar-light bg-light my-3">
    <div class="container">
      <a class="navbar-brand" href="#">Navbar</a>
      <!-- Poner un boton entre el branding y la navegación principal con los atributos data-toggle y data target, el
        target será el id de un div con clase collapse navbar-collapse)que contenga todo el menú.
        En caso de angular: crear variable de collapse y hacer que el click de toggle la cambie.
        despues utilizar la directiva ngbCollapse en el menú -->
      <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li ngbDropdown class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" ngbDropdownToggle>Services</a>
            <div ngbDropdownMenu class="dropdown-menu">
              <a href="#" class="dropdown-item">Link1</a>
              <a href="#" class="dropdown-item">Link2</a>
              <a href="#" class="dropdown-item">Link3</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
        <form class="form-inline ml-auto"><input type="text" class="form-control mr-2" placeholder="Search"><button
            class="btn btn-outline-success">Search</button></form>
      </div>
    </div>
  </nav>

  <div class="container my-5">
    <div class="row">
      <div class="col-md-8 m-auto">

        <!-- SIMPLE SLIDER -->
        <ngb-carousel class="carousel slide mt-5 w-100" [showNavigationArrows]="false" [showNavigationIndicators]="true">
          <div class="carousel-inner">
            <ng-template ngbSlide class="carousel-item">
              <img class="d-block img-fluid" src="https://source.unsplash.com/wgq4eit198Q/700x400" alt="First Slide">
              <div class="carousel-caption d-none d-md-block">
                <h3>First slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide class="carousel-item active">
              <img class="d-block img-fluid" src="https://source.unsplash.com/WLUHO9A_xik/700x400" alt="Second Slide">
              <div class="carousel-caption d-none d-md-block">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide class="carousel-item">
              <img class="d-block img-fluid" cl src="https://source.unsplash.com/4yta6mU66dE/700x400" alt="Third Slide">
              <div class="carousel-caption d-none d-md-block">
                <h3>Third slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </ng-template>
          </div>
        </ngb-carousel>

        <!-- SLIDER WITH CONTROLS markup's the same, but adding angular directives in the ngb-carousel -->

        <!-- SLIDER WITH INDICATORS the same as before -->

        <!-- SLIDER WITH CAPTIONS -->
      </div>
    </div>
  </div>

  <!-- Carousel -->
  <div class="container my-5">

    <!-- BUTTON WITH COLLAPSE -->
    <button class="btn btn-primary d-block mb-4"
    type="button"
    (click)="isCollapsedCol = !isCollapsedCol"
    [attr.aria-expanded] = "!isCollapsedCol"
    aria-control="collapseExample"
     >Read More</button>
    <div class="collapse mb-5" id="collapseExample" [ngbCollapse]="isCollapsedCol">
      <div class="card">
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit eius libero quisquam nobis explicabo vel non necessitatibus
          ipsum doloribus cupiditate voluptate recusandae quo autem error debitis, sed, minima repellendus commodi.
        </div>
      </div>
    </div>

    <!-- ACCORDION -->
    <ngb-accordion [closeOthers]="true">
      <ngb-panel class="card">
        <ng-template class="card-header">
          <h5>
            <a >
              Collapse One
            </a>
          </h5>
        </ng-template>

        <div>
          <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ea iste a doloremque, cumque, debitis eum vel ipsum architecto
            aut, recusandae totam ullam aperiam. Nesciunt expedita officiis animi quam corporis optio inventore facilis sint
            et nulla in, repellat debitis dolor at nisi quo, unde temporibus. Quos nisi nostrum officia, illo.
          </div>
        </div>
      </ngb-panel>

      <div>
        <div>
          <h5>
            <a>
              Collapse Two
            </a>
          </h5>
        </div>

        <div>
          <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ea iste a doloremque, cumque, debitis eum vel ipsum architecto
            aut, recusandae totam ullam aperiam. Nesciunt expedita officiis animi quam corporis optio inventore facilis sint
            et nulla in, repellat debitis dolor at nisi quo, unde temporibus. Quos nisi nostrum officia, illo.
          </div>
        </div>
      </div>

      <div>
        <div>
          <h5>
            <a>
              Collapse Three
            </a>
          </h5>
        </div>

        <div>
          <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ea iste a doloremque, cumque, debitis eum vel ipsum architecto
            aut, recusandae totam ullam aperiam. Nesciunt expedita officiis animi quam corporis optio inventore facilis sint
            et nulla in, repellat debitis dolor at nisi quo, unde temporibus. Quos nisi nostrum officia, illo.
          </div>
        </div>
      </div>
    </ngb-accordion>
  </div>

  <button type="button" class="btn btn-outline-secondary mr-2" placement="top" ngbTooltip="Tooltip on top">
    Tooltip on top
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="right" ngbTooltip="Tooltip on right">
    Tooltip on right
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Tooltip on bottom">
    Tooltip on bottom
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="left" ngbTooltip="Tooltip on left">
    Tooltip on left
  </button>

  <button type="button" class="btn btn-outline-secondary mr-2" placement="top"
        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on top">
  Popover on top
</button>

<button type="button" class="btn btn-outline-secondary mr-2" placement="right"
        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on right">
  Popover on right
</button>

<button type="button" class="btn btn-outline-secondary mr-2" placement="bottom"
        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on bottom">
  Popover on bottom
</button>

<button type="button" class="btn btn-outline-secondary mr-2" placement="left"
        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on left">
  Popover on left
</button>

<div style="margin-top:500px;"></div>
